[submodule "elite-source-code-acorn-electron"]
	path = elite-source-code-acorn-electron
	url = https://github.com/markmoxon/elite-source-code-acorn-electron.git
[submodule "elite-source-code-acorn-electron-music"]
	path = elite-source-code-acorn-electron-music
	url = https://github.com/markmoxon/elite-source-code-acorn-electron.git
